body {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 960px;
    margin-bottom: 10px; 
}

.row {
    display: flex;
    margin-bottom: 5px;
    gap: 5px;
}

.tile {
    border: solid black 5px;
    height: 50px;
    width: 50px;
    background-color: white;
    transition: 5s;
}

.tile:hover {
    background-color: orangered;
    transition: 0.5s;
}