.grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: solid black;
    max-width: 960px;
}

.row {
    display: flex;
    border: solid red;
    margin: 10px;
    gap: 10px;
}

.tile {
    border: solid blue;
    height: 50px;
    width: 50px;
    background-color: white;
    transition: background-color 2s cubic-bezier(0.4, 0, 1, 1);
}

.tile:hover {
    background-color: orangered;
    transition: background-color 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}