.grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: solid black;
    max-width: 960px;
}

.row {
    display: flex;
    border: solid red;
}

.tile {
    border: solid blue;
    height: 50px;
    width: 50px;
}